In [1]:
import pandas as pd
kulfi=["chocolate","Vanilla","Strawberry","Lemon","Banana"]
pd.Series(kulfi)

0     chocolate
1       Vanilla
2    Strawberry
3         Lemon
4        Banana
dtype: object

In [13]:
import numpy as np
import pandas as pd
labels=['a,','b','c']
mydata=[10,20,30]
arr=np.array(mydata)
d={'a':10,'b':20,'c':30}
pd.Series(mydata)
pd.Series(data=mydata,index=labels)
pd.Series(arr)
pd.Series(d)
d

{'a': 10, 'b': 20, 'c': 30}

In [4]:
import pandas as p
Actress=["Kiara","aishwarya","Anita","Kaitreena","Kareena"]
s=p.Series(Actress)
s.values
#s.index

array(['Kiara', 'aishwarya', 'Anita', 'Kaitreena', 'Kareena'],
      dtype=object)

In [16]:
ser=pd.Series([1,2,3,4],['USA','INDIA','RUSSIA','DELHI'])
ser
ser['INDIA']

2

In [22]:
ser=pd.Series(data =labels)
ser[0]

'a,'